In [2]:
import pandas as pd 
import numpy as np

In [ ]:
df = pd.read_csv('D2_Grades_Dataset.csv')
df.head()

,Seat No.,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,...,CS-312,CS-317,CS-403,CS-421,CS-406,CS-414,CS-419,CS-423,CS-412,CGPA
0,CS-97001,B-,D+,C-,C,C-,D+,D,C-,B-,...,C-,C-,C-,C-,A-,A,C-,B,A-,2.205
1,CS-97002,A,D,D+,D,B-,C,D,A,D+,...,D+,D,C,D,A-,B-,C,C,B,2.008
2,CS-97003,A,B,A,B-,B+,A,B-,B+,A-,...,B,B,A,C,A,A,A,A-,A,3.608
3,CS-97004,D,C+,D+,D,D,A-,D+,C-,D,...,D+,C,D+,C-,B-,B,C+,C+,C+,1.906
4,CS-97005,A-,A-,A-,B+,A,A,A-,B+,A,...,B-,B+,B+,B-,A-,A,A-,A-,A,3.448

In [4]:
df.shape

(571, 43)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 571 entries, 0 to 570
Data columns (total 43 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Seat No.   571 non-null    object
 1   PH-121     571 non-null    object
 2   HS-101     571 non-null    object
 3   CY-105     570 non-null    object
 4   HS-105/12  570 non-null    object
 5   MT-111     569 non-null    object
 6   CS-105     571 non-null    object
 7   CS-106     569 non-null    object
 8   EL-102     569 non-null    object
 9   EE-119     569 non-null    object
 10  ME-107     569 non-null    object
 11  CS-107     569 non-null    object
 12  HS-205/20  566 non-null    object
 13  MT-222     566 non-null    object
 14  EE-222     564 non-null    object
 15  MT-224     564 non-null    object
 16  CS-210     564 non-null    object
 17  CS-211     566 non-null    object
 18  CS-203     566 non-null    object
 19  CS-214     565 non-null    object
 20  EE-217     565 non-null    object
 21  CS-212     565 non-null    object
 22  CS-215     565 non-null    object
 23  MT-331     562 non-null    object
 24  EF-303     561 non-null    object
 25  HS-304     561 non-null    object
 26  CS-301     561 non-null    object
 27  CS-302     561 non-null    object
 28  TC-383     561 non-null    object
 29  MT-442     561 non-null    object
 30  EL-332     562 non-null    object
 31  CS-318     562 non-null    object
 32  CS-306     562 non-null    object
 33  CS-312     561 non-null    object
 34  CS-317     559 non-null    object
 35  CS-403     559 non-null    object
 36  CS-421     559 non-null    object
 37  CS-406     486 non-null    object
 38  CS-414     558 non-null    object
 39  CS-419     558 non-null    object
 40  CS-423     557 non-null    object
 41  CS-412     492 non-null    object
 42  CGPA       571 non-null    float64
dtypes: float64(1), object(42)
memory usage: 191.9+ KB

In [6]:
'''q1
Consider the grades dataset provided in file D2_Grades_Dataset.csv.
ï‚§ This dataset contains grades scored by some old batches in CIS Department in NEDUET.
ï‚§ The data has been made anonymous by using fictitious values for 'Seat Numbers'.
ï‚§ First column contains these fictitious â€˜Seat No.â€™.
ï‚§ Next 41 columns show the grades of students in 41 different courses, while last column shows the CGPA.
ï‚§ Although the CGPA is calculated from the grades and course credit hours information, but since credit hours are
not mentioned here, let us try predicting the CGPA from grades directly, after making the machine learn from this
dataset. For now we will just preprocess the dataset; will use the resulting dataset in some training problem later.
a. Identify irrelevant attributes and remove them.
b. Check for missing values and suggest methods to fix them.
c. Which encoding technique would be most suitable to encode grades of the courses? Use it to convert the
categorical columns into numeric ones.
'''

"q1\nConsider the grades dataset provided in file D2_Grades_Dataset.csv.\n\uf0a7 This dataset contains grades scored by some old batches in CIS Department in NEDUET.\n\uf0a7 The data has been made anonymous by using fictitious values for 'Seat Numbers'.\n\uf0a7 First column contains these fictitious â€˜Seat No.â€™.\n\uf0a7 Next 41 columns show the grades of students in 41 different courses, while last column shows the CGPA.\n\uf0a7 Although the CGPA is calculated from the grades and course credit hours information, but since credit hours are\nnot mentioned here, let us try predicting the CGPA from grades directly, after making the machine learn from this\ndataset. For now we will just preprocess the dataset; will use the resulting dataset in some training problem later.\na. Identify irrelevant attributes and remove them.\nb. Check for missing values and suggest methods to fix them.\nc. Which encoding technique would be most suitable to encode grades of the courses? Use it to convert the\ncategorical columns into numeric ones.\n"

In [ ]:
# a) CGPA seems irrelevant since it can easily be calculated by the grades using some formula.
df = df.drop('CGPA', axis=1)
df

,Seat No.,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,...,CS-306,CS-312,CS-317,CS-403,CS-421,CS-406,CS-414,CS-419,CS-423,CS-412
0,CS-97001,B-,D+,C-,C,C-,D+,D,C-,B-,...,C,C-,C-,C-,C-,A-,A,C-,B,A-
1,CS-97002,A,D,D+,D,B-,C,D,A,D+,...,D,D+,D,C,D,A-,B-,C,C,B
2,CS-97003,A,B,A,B-,B+,A,B-,B+,A-,...,A-,B,B,A,C,A,A,A,A-,A
3,CS-97004,D,C+,D+,D,D,A-,D+,C-,D,...,C-,D+,C,D+,C-,B-,B,C+,C+,C+
4,CS-97005,A-,A-,A-,B+,A,A,A-,B+,A,...,A-,B-,B+,B+,B-,A-,A,A-,A-,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,CS-97567,B,A,A,A-,A+,A,A-,A-,A+,...,B+,A-,A-,A,A,A,B+,B+,B,A
567,CS-97568,A+,A,A,A,A,A,A,A-,A,...,A-,B+,B+,A,A,A-,B,A-,C,A-
568,CS-97569,B,A,A-,B+,A,A,A,A,A,...,B+,A-,B,A,B+,A,C,B+,A-,A-
569,CS-97570,A,B+,D,A,D,D+,B-,C-,B-,...,B+,D,B,B,C-,D,C,B,B-,C
570,CS-97571,C,D,D,C,C,D+,B,C+,C,...,D+,C+,C,B-,D,F,C-,B+,D,C-

In [8]:
# b) checking number of nulls in each column
df.isnull().sum()

Seat No.      0
PH-121        0
HS-101        0
CY-105        1
HS-105/12     1
MT-111        2
CS-105        0
CS-106        2
EL-102        2
EE-119        2
ME-107        2
CS-107        2
HS-205/20     5
MT-222        5
EE-222        7
MT-224        7
CS-210        7
CS-211        5
CS-203        5
CS-214        6
EE-217        6
CS-212        6
CS-215        6
MT-331        9
EF-303       10
HS-304       10
CS-301       10
CS-302       10
TC-383       10
MT-442       10
EL-332        9
CS-318        9
CS-306        9
CS-312       10
CS-317       12
CS-403       12
CS-421       12
CS-406       85
CS-414       13
CS-419       13
CS-423       14
CS-412       79
dtype: int64

In [9]:
# no of rows with atleast one null
df.isnull().any(axis=1).sum()

154

In [ ]:
# Filter rows with at least one null value
rows_with_nulls = df[df.isnull().any(axis=1)]
rows_with_nulls # lets look at the first row, to confirm later

,Seat No.,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,...,CS-306,CS-312,CS-317,CS-403,CS-421,CS-406,CS-414,CS-419,CS-423,CS-412
44,CS-97045,D,C,NaN,NaN,NaN,C-,NaN,NaN,D+,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,CS-97061,C,B+,WU,D+,C-,B-,F,D,A-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,CS-97087,D,D,D+,B-,F,D,D,D,D+,...,D,D+,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,CS-97092,WU,C-,D,D,WU,D,D,D,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137,CS-97138,C-,C+,WU,WU,WU,B,WU,WU,A-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423,CS-97424,D,D+,D,D,C-,C,C+,B-,C,...,D,D,D,D+,D,D,W,C,B,NaN
424,CS-97425,C-,D+,B-,C+,D+,C-,A-,C-,D+,...,D,W,C,B-,F,D+,W,D,B,NaN
481,CS-97482,B-,A-,C+,D,B,B,A-,A-,C,...,WU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
543,CS-97544,A,B,A,A-,A-,A,B+,B+,B+,...,A-,WU,NaN,NaN,W,WU,NaN,NaN,NaN,W
565,CS-97566,F,F,D,C-,NaN,D+,D,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# methods to fix:
    # - mean - imo best approach since cgpa will not be affected but numbers me nh hai grade
    # - median - doesnt make sense here
    # - mode - lets go with mode, row wise

def fill_nan_with_row_mode(row):
    # get a mode value if there exists one
    mode_value = row.mode().iloc[0] if not row.mode().empty else np.nan
    return row.fillna(mode_value)

# Apply the function row-wise, skipping first column(seat no)
df.iloc[:, 1:] = df.iloc[:, 1:].apply(fill_nan_with_row_mode, axis=1)
df

,Seat No.,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,...,CS-306,CS-312,CS-317,CS-403,CS-421,CS-406,CS-414,CS-419,CS-423,CS-412
0,CS-97001,B-,D+,C-,C,C-,D+,D,C-,B-,...,C,C-,C-,C-,C-,A-,A,C-,B,A-
1,CS-97002,A,D,D+,D,B-,C,D,A,D+,...,D,D+,D,C,D,A-,B-,C,C,B
2,CS-97003,A,B,A,B-,B+,A,B-,B+,A-,...,A-,B,B,A,C,A,A,A,A-,A
3,CS-97004,D,C+,D+,D,D,A-,D+,C-,D,...,C-,D+,C,D+,C-,B-,B,C+,C+,C+
4,CS-97005,A-,A-,A-,B+,A,A,A-,B+,A,...,A-,B-,B+,B+,B-,A-,A,A-,A-,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,CS-97567,B,A,A,A-,A+,A,A-,A-,A+,...,B+,A-,A-,A,A,A,B+,B+,B,A
567,CS-97568,A+,A,A,A,A,A,A,A-,A,...,A-,B+,B+,A,A,A-,B,A-,C,A-
568,CS-97569,B,A,A-,B+,A,A,A,A,A,...,B+,A-,B,A,B+,A,C,B+,A-,A-
569,CS-97570,A,B+,D,A,D,D+,B-,C-,B-,...,B+,D,B,B,C-,D,C,B,B-,C
570,CS-97571,C,D,D,C,C,D+,B,C+,C,...,D+,C+,C,B-,D,F,C-,B+,D,C-

In [ ]:
# checking if nulls are fixed with mode
df[df['Seat No.']=='CS-97045']

,Seat No.,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,...,CS-306,CS-312,CS-317,CS-403,CS-421,CS-406,CS-414,CS-419,CS-423,CS-412
44,CS-97045,D,C,C,C,C,C-,C,C,D+,...,C,C,C,C,C,C,C,C,C,C

In [13]:
# c) grades are ordinal, hence using label encoder
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
columns_to_encode = df.columns[1:]

# Apply label encoding to multiple columns
for column in columns_to_encode:
    df[column] = encoder.fit_transform(df[column])

df

,Seat No.,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,...,CS-306,CS-312,CS-317,CS-403,CS-421,CS-406,CS-414,CS-419,CS-423,CS-412
0,CS-97001,5,10,8,6,8,10,9,8,5,...,6,8,8,8,8,2,0,8,3,2
1,CS-97002,0,9,10,9,5,6,9,0,10,...,9,10,9,6,9,2,5,6,6,3
2,CS-97003,0,3,0,5,4,0,5,4,2,...,2,3,3,0,6,0,0,0,2,0
3,CS-97004,9,7,10,9,9,2,10,8,9,...,8,10,6,10,8,5,3,7,7,7
4,CS-97005,2,2,2,4,0,0,2,4,0,...,2,5,4,4,5,2,0,2,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,CS-97567,3,0,0,2,1,0,2,2,1,...,4,2,2,0,0,0,4,4,3,0
567,CS-97568,1,0,0,0,0,0,0,2,0,...,2,4,4,0,0,2,3,2,6,2
568,CS-97569,3,0,2,4,0,0,0,0,0,...,4,2,3,0,4,0,6,4,2,2
569,CS-97570,0,4,9,0,9,10,5,8,5,...,4,9,3,3,8,9,6,3,5,6
570,CS-97571,6,9,9,6,6,10,3,7,6,...,10,7,6,5,9,11,8,4,9,8

In [14]:
''' 
 q2) Consider the fish market dataset provided in file D4_Fish_Market_Dataset.csv.
ï‚§ Source: https://www.kaggle.com/aungpyaeap/fish-market
ï‚§ This dataset lists a total of 8 columns, giving information about 7 species of fish data for market sale.
ï‚§ It contains a total of 159 training examples.
ï‚§ The description of the columns is as follows:
ï‚§ ID: serial number assigned to a fish
ï‚§ Species: specie / name of fish
ï‚§ Weight: weight of fish in grams (g)
ï‚§ Length1: vertical length in centimeter (cm)
ï‚§ Length2: diagonal length in centimeter (cm)
ï‚§ Length3: cross length in centimeter (cm)
ï‚§ Height: height in centimeter (cm)
ï‚§ Width: diagonal width in centimeter (cm)

a. Check for missing attributes values and propose a solution if any.
b. Encode all the categorical variables using appropriate encoding techniques.
c. If Weight is the output and remaining 6 columns are features, is it a regression or classification problem?
d. If Species is taken as target and remaining columns as features, is it a regression or classification problem?
'''

' \n q2) Consider the fish market dataset provided in file D4_Fish_Market_Dataset.csv.\n\uf0a7 Source: https://www.kaggle.com/aungpyaeap/fish-market\n\uf0a7 This dataset lists a total of 8 columns, giving information about 7 species of fish data for market sale.\n\uf0a7 It contains a total of 159 training examples.\n\uf0a7 The description of the columns is as follows:\n\uf0a7 ID: serial number assigned to a fish\n\uf0a7 Species: specie / name of fish\n\uf0a7 Weight: weight of fish in grams (g)\n\uf0a7 Length1: vertical length in centimeter (cm)\n\uf0a7 Length2: diagonal length in centimeter (cm)\n\uf0a7 Length3: cross length in centimeter (cm)\n\uf0a7 Height: height in centimeter (cm)\n\uf0a7 Width: diagonal width in centimeter (cm)\n\na. Check for missing attributes values and propose a solution if any.\nb. Encode all the categorical variables using appropriate encoding techniques.\nc. If Weight is the output and remaining 6 columns are features, is it a regression or classification problem?\nd. If Species is taken as target and remaining columns as features, is it a regression or classification problem?\n'

In [15]:
df = pd.read_csv('D4_Fish_Market_Dataset.csv') 
df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'D4_Fish_Market_Dataset.csv'

In [30]:
# a) nulls
df.isnull().sum()

Species    0
Weight     0
Length1    0
Length2    0
Length3    0
Height     0
Width      0
dtype: int64

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Species  159 non-null    object
 1   Weight   159 non-null    float64
 2   Length1  159 non-null    float64
 3   Length2  159 non-null    float64
 4   Length3  159 non-null    float64
 5   Height   159 non-null    float64
 6   Width    159 non-null    float64
dtypes: float64(6), object(1)
memory usage: 8.8+ KB

In [32]:
# b) no nulls, moving to encodings 
df.Species.unique()

array(['Bream', 'Roach', 'Whitefish', 'Parkki', 'Perch', 'Pike', 'Smelt'],
      dtype=object)

In [33]:
# species are not ordinal, we will one hot encode them 
encoded_df = pd.get_dummies(df, columns=['Species'], 
                            dtype=int)  # you can also use sklearn one hot encoder 
encoded_df.head()

,Weight,Length1,Length2,Length3,Height,Width,Species_Bream,Species_Parkki,Species_Perch,Species_Pike,Species_Roach,Species_Smelt,Species_Whitefish
0,242.0,23.2,25.4,30.0,11.5200,4.0200,1,0,0,0,0,0,0
1,290.0,24.0,26.3,31.2,12.4800,4.3056,1,0,0,0,0,0,0
2,340.0,23.9,26.5,31.1,12.3778,4.6961,1,0,0,0,0,0,0
3,363.0,26.3,29.0,33.5,12.7300,4.4555,1,0,0,0,0,0,0
4,430.0,26.5,29.0,34.0,12.4440,5.1340,1,0,0,0,0,0,0

In [34]:
# c) Regression : 
# The target variable (Weight) is a continuous numerical value (measured in grams), 
# making it a regression task.

In [ ]:
# d) Classification: 
# The target variable (Species) is categorical, 
# consisting of 7 fish species, making it a multiclass classification problem.

In [35]:
''' 
 q3) Consider the imports dataset provided in file D5_Automobile_Dataset.csv.
ï‚§ Source: https://www.kaggle.com/toramky/automobile-dataset
ï‚§ Refer to this source for description of the dataset.
a. Find the size of the dataset.
b. List the categorical variables.
c. List the continuous variables.
d. List the discrete variables.
e. Check for missing attributes values and propose a solution.
f. Encode all the categorical variables using appropriate encoding techniques.
'''

' \n q3) Consider the imports dataset provided in file D5_Automobile_Dataset.csv.\n\uf0a7 Source: https://www.kaggle.com/toramky/automobile-dataset\n\uf0a7 Refer to this source for description of the dataset.\na. Find the size of the dataset.\nb. List the categorical variables.\nc. List the continuous variables.\nd. List the discrete variables.\ne. Check for missing attributes values and propose a solution.\nf. Encode all the categorical variables using appropriate encoding techniques.\n'

In [17]:
df = pd.read_csv('D5_Automobile_Dataset.csv')
df.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [18]:
# a) size
df.shape

(205, 26)

In [19]:
# categorical variables - all with dtype object >~<
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized_losses  164 non-null    float64
 2   make               205 non-null    object
 3   fuel_type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num_doors          203 non-null    object
 6   body_style         205 non-null    object
 7   drive_wheels       205 non-null    object
 8   engine_location    205 non-null    object
 9   wheel_base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb_weight        205 non-null    int64
 14  engine_type        205 non-null    object
 15  num_cylinders      205 non-null    object
 16  engine_size        205 non-null    int64
 17  fuel_system        205 non-null    object
 18  bore               201 non-null    float64
 19  stroke             201 non-null    float64
 20  compression_ratio  205 non-null    float64
 21  horsepower         203 non-null    float64
 22  peak_rpm           203 non-null    float64
 23  city_mpg           205 non-null    int64
 24  highway_mpg        205 non-null    int64
 25  price              201 non-null    float64
dtypes: float64(11), int64(5), object(10)
memory usage: 41.8+ KB

In [25]:
# c) continous variables 
# as per the description and data types:
# length, width, height, normalized_losses, wheel_base, bore, stroke, price
# engine_size, horsepower, rpm, mpgs both, compression ratio

52

In [29]:
df.symboling.unique()

array([ 3,  1,  2,  0, -1, -2], dtype=int64)

In [30]:
# d) discrete variables - all other than continous
# symboling, make, fuel type, aspiration, num door...

In [32]:
# e) nulls
df.isnull().sum()

symboling             0
normalized_losses    41
make                  0
fuel_type             0
aspiration            0
num_doors             2
body_style            0
drive_wheels          0
engine_location       0
wheel_base            0
length                0
width                 0
height                0
curb_weight           0
engine_type           0
num_cylinders         0
engine_size           0
fuel_system           0
bore                  4
stroke                4
compression_ratio     0
horsepower            2
peak_rpm              2
city_mpg              0
highway_mpg           0
price                 4
dtype: int64

In [33]:
# solution : drop all except losses. 
# fill losses by comparing losses of other autombiles with same symbol. 
# probably take mean or mode of them

In [34]:
# f) encoding
df.make.unique() # - not ordinal - label encode

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'mercedes-benz', 'mercury',
       'mitsubishi', 'nissan', 'peugot', 'plymouth', 'porsche', 'renault',
       'saab', 'subaru', 'toyota', 'volkswagen', 'volvo'], dtype=object)

In [35]:
df.aspiration.unique() # binary encoding

array(['std', 'turbo'], dtype=object)